<md-tab-group (selectChange)="tabChanged($event)">
    <md-tab label="Contrat">
        <contract-infos [contract]="contract">
        </contract-infos>
    </md-tab>
    <md-tab label="Contract initial">
        TODO
    </md-tab>
    <md-tab label="Factures">
        TODO
    </md-tab>
</md-tab-group>

<span *ngIf="buttons">
<ng2-float-btn  class="floating-fab" [mainButton]="mainButton" [buttons]="buttons" [direction]="'up'">
</ng2-float-btn>
</span>

<!--
<button md-fab class="floating-fab" (click)="openDialog()" color="accent" *ngIf="showAddButton">
   <md-icon>add</md-icon>
</button>

<button md-fab class="floating-fab" (click)="openDialog()" color="warn" *ngIf="currentTabIndex === TABS.INFOS">
   <md-icon>delete</md-icon>
</button>
-->