<div class="family-detail-parents" *ngIf="family" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">

    <div class="family-detail-parent" *ngFor="let parent of family.parents; let idx = index;" fxFlex="33">
        <md-card>
            <md-card-title>
                {{ parent.name + ' ' + parent.firstName }}
                <button mb-button class="more" (click)="editParent(idx, parent)">
                    <md-icon>edit</md-icon>
                </button>
            </md-card-title>
            <md-card-content>
                <div fxLayout="row">
                    <div *ngIf="parent.phoneNumber" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <md-icon>contact_phone</md-icon>
                        <div nowrap>{{ parent.phoneNumber }}</div>
                    </div>
                    <div *ngIf="parent.email" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <md-icon>contact_mail</md-icon>
                        <div>{{ parent.email }}</div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>