
<div class="child-contracts" *ngIf="child" fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap">

    <div class="child-contract" fxFlex="33%" *ngFor="let contract of child.contracts; let idx = index;">
        <md-card class="contract-{{ contract.status | lowercase }}">
            <md-card-title>
                <span *ngIf="contract.status === 'PREPARING'">En préparation</span>
                <span *ngIf="contract.status === 'VALIDATED'">Validé</span>
                <span *ngIf="contract.status === 'ACTIVE'">En cours</span>
                <span *ngIf="contract.status === 'DONE'">Terminé</span>
                <button mb-button class="more" (click)="editContact(idx, contact)">
                    <md-icon>search</md-icon>
                </button>
            </md-card-title>
            <md-card-content>

                <pre>
{{ contract | json }}
                </pre>

            </md-card-content>
        </md-card>
    </div>
</div>